#banner{
    width: 80%;
    height: auto;
    margin: 15px ;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 65px auto;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
}

#banner img{
    width: 85%;
    height: 600px;
    border-radius: 15px;
    margin: 20px 0px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px){
    #banner{
        width: 80%;
        transition: 0.5s;
    }

    #banner img{
        height: 300px;
        transition: 0.5s;
    }
}

@media screen and (min-width: 768px){
    #banner{
        width: 60%;
        transition: 0.8s;
    }

    #banner img{
        height: 600px;
        transition: 0.8s;
    }
}