*{
    margin: 0%;
    padding: 0%;    
}
header {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin-bottom: 40px;
    background-color:  #dee2e6;
    box-shadow: #0466c8 2px 2px;
    
}

#logo {
    width: 40px;
    height: 40px;
    margin: 5 10px;
    border-radius: 40px;
    overflow: hidden;
    background-color: black;
    float: left;
    margin: 10px 10px;
}

#logo img {
    width: 100%;
    height: 100%;
}

nav {
    width: auto;
    height: 50px;
    float: right;
    line-height: 40px;
    margin: 10px 10px;
}

nav a {
    text-decoration: none;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #f8f9fa;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
footer {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    padding: 10px 0;
    line-height: 40px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(75, 75, 75);
}
@keyframes ig {
    0%{
        background-color: #adb5bd;
        transition: 5ms;
    }
    50%{
        background-color: #adb5bd;
        transition: 5ms;
    }
    100%{
        background-color: #dee2e6;
        transition: 5ms;
    }
}

#ig{
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: ig;
}
 