@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

#pagina,header,main,footer{
    width: 100%;
    display: flex;
}

#pagina{
    flex-direction: column;
    align-items: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', sans-serif;
}

h1{
    cursor: pointer;
}

p{
    font-family: 'Roboto', sans-serif;
}

/* CABECALHO */

header{
    height: 80px;
    background-color: #2A2B2A;
    align-items: center;
    justify-content: space-around;
    color: white;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Roboto;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

li a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
}
#menupc a:after{
    display      : flex;
    content      : '';
    border-bottom: solid 2px #ffffff;
    transform    : scaleX(0);
    transition   : transform 300ms ease-in-out;
    transform-origin: 50% 100%;
}

#menupc a:hover:after {
    transform: scaleX(1);
}

#menuIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    
}

/* FIM CABECALHO */

/* CONTEUDO */

#menuMobile{
    display: none;
}

main{
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;

}

h4{
    font-weight: 900;
    font-size: 23px;
    margin: 5px 0px;
}

hr{
    width: 46%;
    border: 2px solid #F5124B;
}

#destaque{
    width: 60%;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  #dddcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#destaque p{
    color: gray;
    font-weight: 700;
}

p{
    font-weight: 700;
    margin: 22px 0px;
}

#destaque h5{
    font-weight: 900;
    font-size: 23px;
}
    
#destaque img{
    width: 100%;
}

button{
    width: 80px;
    height: 35px;
    padding: 5px;
    background-color: #F5124B;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    animation: botao 0.5s 1 0 ;
    width: 110px;
    height: 45px;
}

#textpag{
    text-align: center;
    width: 60%;
}

#galeria{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px;
    gap: 10px;
    flex-wrap: wrap;
}

.imagem{
    width: 100%;
}

.post{
    width: 20%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 10px  #dddcdc;
    border-radius: 10px;
}

h5{
    font-weight: 900;
    font-size: 18px;
}

@media screen and (min-width: 768px){
    #destaque{
        width: 50%;
        transition: 0.6s;
    }
}

 @media screen and (max-width: 1100px){
    #destaque{
        width: 70%;
        transition: 0.7s;
    }
} 


/* FIM CONTEUDO */

footer{
    height: 60px;
    background-color: #2A2B2A;
}

