*{
    margin: 0;
    padding: 0;    
}
#cabecalho{
    width: auto;
    height: 80px;
    margin: 0 auto;
    background-color: plum;
    color: white; 
    text-align: center;
    
}
#imga{
    width: auto;
    height: auto;
    margin-top: -115px;
  
}
#imgb{
    width: 1349px;
    height: 600px;
    margin-top: -52px;

}
#titulo{
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
    
    
}
#loc{
    font-size: 20px;
    margin-top: -10px;
    text-align: right;
    margin-right: 10px;
}
#sub1{
    margin: 100px;
    width: 30px;
}
#links{
    text-align: center;
    margin: 550px 500px;

}