*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    align-items: center; 
    flex-direction: column;
}

#viajem{
    width: 300px;
    height: auto;
    padding: 30px;
    background-color: #00a7fba6;
    margin: 20px 0px;
}

#compras{
    width: 300px;
    height: auto;
    padding: 30px;
    background-color: #ff5c8a;
    margin: 20px 0px;
}

#computadores{
    width: 300px;
    height: auto;
    padding: 30px;
    background-color: #9d4edd;
    margin: 20px 0px;
}

h1,h3{
    margin: 20px auto;
}